name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y python3 python3-pip python3-setuptools git zip unzip openjdk-17-jdk

    - name: Install Buildozer
      run: |
        pip install --upgrade pip
        pip install buildozer cython

    - name: Download Android CLI Tools (FIXED)
      run: |
        mkdir -p $HOME/android
        cd $HOME/android
        
        wget https://dl.google.com/android/repository/commandlinetools-lin
