name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y python3 python3-pip python3-setuptools git zip unzip openjdk-17-jdk adb
  
    - name: Install Buildozer
      run: |
        pip install --upgrade pip
        pip install --upgrade buildozer cython python-for-android
        
    - name: Install Android SDK / NDK
      run: |
        yes | sdkmanager --licenses || true

    - name: Clean previous builds
      run: |
        buildozer android clean || true

    - name: Build APK
      run: |
        yes | buildozer android debug


    
