name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y python3 python3-pip python3-setuptools git zip unzip openjdk-17-jdk adb wget curl
  
    - name: Install Buildozer
      run: |
        pip install --upgrade pip
        pip install --upgrade buildozer cython python-for-android
        
    - name: Install Android SDK / NDK
      run: |
        mkdir -p $HOME/Android/Sdk/cmdline-tools
        cd $HOME/Android/Sdk/cmdline-tools
        wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip -O cmdline-tools.zip
        unzip cmdline-tools.zip
        rm cmdline-tools.zip
        yes | $HOME/Android/Sdk/cmdline-tools/tools/bin/sdkmanager --sdk_root=$HOME/Android/Sdk "platform-tools" "platforms;android-30" "build-tools;30.0.3" "ndk;25.2.9519653"
        
    - name: Set environment variables
      run: |
        echo "ANDROIDSDK=$HOME/Android/Sdk" >> $GITHUB_ENV
        echo "ANDROIDNDK=$HOME/Android/Sdk/ndk/25.2.9519653" >> $GITHUB_ENV
        echo "PATH=$HOME/Android/Sdk/cmdline-tools/tools/bin:$HOME/Android/Sdk/platform-tools:$PATH" >> $GITHUB_ENV

    - name: Clean previous builds
      run: |
        buildozer android clean || true

    - name: Build APK
      run: |
        buildozer android debug

    
