name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y python3 python3-pip python3-setuptools git zip unzip openjdk-17-jdk

    - name: Install Buildozer
      run: |
        pip install --upgrade pip
        pip install buildozer cython

    - name: Install Android SDK / NDK
      run: |
        sudo apt install -y adb
        yes | sdkmanager --licenses || true

    - name: Build APK
      run: |
        yes | buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: GTMAPK
        path: bin/*.apk
